<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Power4</title>
</head>
<body>
    <div class="container">
        <h1>Power 4</h1>
        <p> {{.Player1}} vs {{.Player2}} -- Mode: {{.Difficulty}} <br>
        
        {{ if eq .Turn 1}} {{.Player1}} {{else}} {{.Player2}} {{end}}
        </p>

        <form action="/move" method="post">
        <div class="row">
            {{range $i, $_ := index .Grill 0}}
            <button class="drop" type="submit" name="col" value="{{$i}}">↓</button>
            {{end}}
        </div>
        </form>

        <div class="board">
            {{range .Grill}}
            <div class="row">
                {{range .}}
                <div class="cell" data-v="{{.}}"></div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>